

#interface{
    display: flex;
    flex-direction: row;
}



.parent {
    font-family: sans-serif;
    border: 0px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

#video-settings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    
}

.play-settings {
    /* font-family: sans-serif; */
    /* display: flex; */
    flex-direction: row;
    border: 0px;
    padding: 1rem 1rem;
    width: 50%;

}

#videos-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 50%; */
}

.video-panel{
    display: flex;
    flex-direction: column;
    width:50%;
}



#inputVideo {
    width: 90%;
    padding: 2rem;
    /* width: 50%;
    display: flex;
    flex-direction: column;*/
    /* visibility: hidden; */
}

/* #videos > .child {
    width: 40%;
} */

#outputCanvas, #outputCanvas2{
    width: 100%;
}

#outputCanvas2 {
    visibility: hidden;
}
#canvasDiv {
    width: 90%;
    padding: 2rem 2rem 3rem 2rem;
    /* vertical-align: middle; */
    text-align: center;
}

.control{
    width: 10%;
}

/* .vis-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
} */

.sliderVal {
  width:50%;
  display: flex;
}


#color-buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.color-button {
    margin: 3%;
    width: 60%;
}

#canvas {
    width: 40%;
    /* visibility: hidden; */
}

#canvasDiv {
    /* visibility: hidden; */

}


/* Style the video settings container */
#video-settings {
    display: flex;
  }
  
  /* Style the play settings container */
  .play-settings {
    flex: 1;
  }
  
  /* Style the visual filtering heading */
  .play-settings h3 {
    margin-bottom: 20px;
  }
  
  /* Style the vis-filter container */
  .vis-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  /* Style the vis-filter labels */
  .vis-filter label {
    display: flex;
    margin-bottom: 5px;
    font-size: 20px;
    width: 60%;
  }
  
  /* Style the vis-filter input and value containers */
  .vis-filter div {
    display: flex;
  }
  
  /* Style the vis-filter input sliders */
  .vis-filter input[type="range"] {
    flex: 1;
    margin-right: 10px;
    /* width: 60%; */
  }
  
  /* Style the vis-filter value indicators */
  .vis-filter span {
    font-size: 20px;
  }

  .sliderVal {
    width:20%;

  }

  .control-buttons, .color-button{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
    margin: 2% 1% 2% 1%;
  }
  .control-buttons:hover, .color-button:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
  }
  .control-buttons:active, .color-button:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
  }





/* Slider design */

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #0974f1;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}