

#interface{
    display: flex;
    flex-direction: row;
}

#inputVideo {
    width: 50%;
    /* height: ; */
}

.parent {
    font-family: sans-serif;
    border: 0px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.child {
    font-family: sans-serif;
    display: inline-block;
    border: 0px;
    padding: 1rem 1rem;
    vertical-align: middle;
}

#outputCanvas{
    width: 80%;
}

#canvasDiv {
    /* width: 100px; */
    padding: 2rem 2rem;
    vertical-align: middle;
    text-align: center;
}

.control{
    width: 10%;
}